---
layout: default
---

<div class="home">

  <dl class="post-list">
    {% for category in site.all_categories %}
      <h1 class="category-heading">{{ category }}</h1>

      {% for post in site.categories[category] %}
        <dt>
          {% if post.layout == "external" %}
            <a class="post-link" href="{{ post.external-link }}">{{ post.title }}</a>
          {% else %}
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          {% endif %}
        </dt>
        <dd class="post-meta">
          {% for tag in post.tags %}
            <span class="post-tag">{{ tag }}</span>
          {% endfor %}
          {{ post.subtitle }}
        </dd>
      {% endfor %}
    {% endfor %}
  </dl>

</div>
