$aside-info-color: lighten(green, 65%);
$aside-warning-color: lighten(orange, 40%);
$aside-tip-color: lighten(purple, 65%);

// TODO: use some desaturation function instead of darken.
$aside-info-header-color: darken($aside-info-color, 70%);
$aside-warning-header-color: darken($aside-warning-color, 65%);
$aside-tip-header-color: darken($aside-tip-color, 55%);

aside {
    background-color: lighten($grey-color-light, 3%);
    padding: $spacing-unit / 2;
    margin-bottom: 15px;

    :last-child {
        margin-bottom: 0px;
    }

    &::before {
        font-weight: bold;
    }

    &.aside-info {
        background-color: $aside-info-color;

        &::before {
            content: "In case you were curious...";
            color: $aside-info-header-color;
        }
    }

    &.aside-warning {
        background-color: $aside-warning-color;

        &::before {
            content: "Heads up!";
            color: $aside-warning-header-color;
        }
    }

    &.aside-tip {
        background-color: $aside-tip-color;

        &::before {
            content: "Pro tip";
            color: $aside-tip-header-color;
        }
    }
}

.post-content {
    h1, h2, h3, h4, h5, h6 {
        margin-top: $spacing-unit;
        border-bottom: solid $grey-color-light 1px;
    }
}
